.about__title {
  color: #8D0606;
  font-family: 'Pacifico', cursive;
  font-size: 3.1875rem;
  font-weight: 400;
  text-align: center;
}

.about__description {
  color: #8C8888;
  font-family: 'Roboto';
  font-size: 1.75rem;
  text-align: center;
}