.about {
  text-align: center;
  padding: 2.5rem;
}

.about__title {
  color: #8D0606;
  font-family: 'Pacifico', cursive;
  font-size: 3.1875rem;
  font-weight: 400;
}

.about__description {
  color: #8C8888;
  font-family: 'Roboto';
  font-size: 1.75rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 2.5rem 1rem;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__description {
    font-size: 1.3rem;
  }
}