.header {
  align-items: center;
  background: #F9F9F9;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
}

.menu-list {
  display: flex;
}

.menu-item {
  list-style: none;
}

.menu-link {
  color: #808080;
  text-decoration: none;
  margin-right: 1rem;
}

.menu-item:last-child .menu-link {
  margin-right: 0;
}

.menu-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}