.recipes {
  background-color: #E5E5E5;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0 0 5rem;
  text-align: center;
}

.recipe {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-right: 5rem;
  width: calc(33% - 5rem);
}

.recipe__image {
  height: 12.5rem;
}

.recipe__content {
  padding: 1rem;
}

.recipe__title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 1.4375rem;
  font-weight: 400;
}

.recipe__description {
  color: #000000;
  font-family: 'Roboto';
  font-size: 1.1875rem;
  font-weight: 400;
  text-align: justify;
}

.recipe__button {
  background-color: #8D0606;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all .1s ease-in-out;
}

.recipe__button:hover {
  background: #620404;
  cursor: pointer;
}